.modal-header h4{
    font-size: 25px;
    font-weight: 700;
    margin-left: 140px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.modal-body p{
    font-size: 17px;
    letter-spacing: 0.1px;
    color: black;
}

.modal-footer button{
    width: 110px;
    padding: 5px;
}