<div class="container-fluid">
    <div class="row mt-1">
        <div *ngFor="let product of products" class="product-col"
         [class]="sidebarstatus ? 'col-md-4' : 'col-md-3'">
            <div class="product-card" [style.height]="userRole == 'Supplier' ? '370px' : '390px'">
                <div class="logo-cart">
                    <img src="./assets/addidaslogo.jpg" alt="prod-logo" 
                         *ngIf="product.productBrand == 'Addidas'">
                    <img src="./assets/walkarologo.png" alt="prod-logo" 
                         *ngIf="product.productBrand == 'Walkaro'">
                    <img src="./assets/pumalogo.png" alt="prod-logo" 
                         *ngIf="product.productBrand == 'Puma'">
                    <img src="./assets/batalogo.png" alt="prod-logo" 
                         *ngIf="product.productBrand == 'Bata'">

                    <i class="fas fa-times" title="Remove" 
                       *ngIf="userRole == 'Buyer' || userRole == 'GoldBuyer'"
                       (click)="removeCartProduct(product)"></i>
                    <i class="far fa-edit" title="Edit"
                       *ngIf="userRole == 'Supplier' || userRole == 'GoldSupplier'"
                       (click)="editProduct(product)"></i>
                </div>
                <div class="main-images">
                    <img src="{{product.photoUrl}}" alt="{{product.productName}}">
                </div>
                <div class="product-details">
                    <div class="product_name">{{product.productName}}</div>
                    <P>
                        {{product.productDescription}}
                    </P>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="discount-price">
                    <div class="price">
                        <span class="price_num">Rs. {{product.amountRs}}</span>
                        <span class="price_letter" *ngIf="userRole == 'Buyer' || userRole == 'GoldBuyer'">
                            <h5><s style="color: rgb(226, 55, 55);">Rs. {{product.originalPrice}}</s></h5>
                        </span>
                    </div>
                    <div class="discount-option">
                        <span class="discount"><strong>Discount:</strong></span>
                        <span class="discount-rate">                                    
                            {{product.discount}}%
                        </span>
                    </div> 
                </div>
                <div class="button" *ngIf="userRole == 'Buyer'">
                    <button>
                        Buy
                    </button>
                </div>
                <div class="button" *ngIf="userRole == 'Supplier'">
                    <button>
                        Quantity  -  {{product.quantity}}
                    </button>
                </div>
            </div>  
        </div>
        <ng-container *ngIf="products.length == 0">
            <img src="./assets/emptycart.png" alt="cart is empty" class="not-found"
            [style.margin-left]="sidebarstatus ? '340px' : '420px'">
        </ng-container>
    </div>
</div>
