.products_main{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    /* background-image: linear-gradient( #fafafa 10%, #fdfdfd 100%); */
    background-image: linear-gradient(135deg,  #ebe4e7, #f0f0f0, #f8f1f1, #e0dcdf,  #f8f6f7);

}

.sidebar.active{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    /* background: #4939f1; */
    background-image: linear-gradient(135deg,  #4939f1, #564ad4, #685fd4, #6760af,  #4939f1);

    padding: 6px 14px;
    transition: all 0.5s ease;
    width: 300px;
}

.sidebar.active .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease;
    opacity: 1;
}

.sidebar.active .logo_content .logo .profile_img{
    height: 60px;
    width: 60px;
    border-radius: 40px;
    object-fit: cover;
    margin-top: 20px;
}

.logo_content .logo .logo_name{
    font-size: 25px;
    font-weight: 400;
    margin-left: 4px;
}

.sidebar.active #btn{
    position: absolute;
    color: #fff;
    top: 6px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    left: 90%;
    cursor: pointer;
} 

.sidebar ul{
    margin-top: 30px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style-type: none;
    line-height: 50px;
    border-radius: 12px;
    cursor: pointer;
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #f2f1f5;
    padding-left: 50px;
    font-size: 18px;
    color: rgb(7, 6, 6);
}

.sidebar ul li .fa-search{
    position: absolute;
    z-index: 99;
    color: rgb(8, 8, 8);
    font-size: 22px;
    transition: all 0.5s ease;
}

.sidebar ul li .fa-search:hover{
    background: #fff;
    color: #1d1b31;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    margin-top: 10px;
}

.sidebar ul li a:hover{
    color: #11101d;
    background: #fff;
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
    font-size: 20px;
}

.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar.active .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    transition: all 0.4s ease;
    background: #090368;
}

.sidebar.active .profile .profile_details{
    display: flex;
    align-items: center;
    white-space: nowrap;
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details .name_job{
    margin-left: 10px;
}

.profile .profile_details .name{
    font-size: 20px;
    font-weight: 600;
}

.profile .profile_details .job{
    font-size: 14px;
    font-weight: 200;
}

.sidebar.active .profile #log_out{
    position: absolute;
    bottom: -3px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #07070a;
    left: 88%;
}

.fa-sign-out-alt{
    cursor: pointer;
}
 
.container{ 
   margin-left: 300px;
   margin-top: 150px;
}

.col-md-4{
    /* background-image: linear-gradient(135deg, #db0a8b, #ec1499, #f1ab3a, #f1ab3a, #ec1499,  #db0a8b);  */
  background: rgb(66, 65, 65);
    border-radius: 35px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;    
    padding: 20px;
    box-sizing: border-box;
    border: 15px solid transparent;
    background-clip:padding-box; 
    text-align: center;
    color: #fff;
} 








    