.products-main{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    background-image: linear-gradient(135deg,  #a59ea1, #c0bbbb, #c5c2c2, #c0b9be,  #c5c2c3);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background-image: linear-gradient(135deg,  #4939f1, #4037a5, #4d44b6, #3a348d,  #4939f1);
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 300px;
    background-image: linear-gradient(135deg,  #4939f1, #4037a5, #4d44b6, #393388,  #4939f1);
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    margin-top: 10px;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
}

.sidebar.active .logo_content .logo .profile_img{
    height: 60px;
    width: 60px;
    border-radius: 40px;
    object-fit: cover;
    margin-top: 10px;
    opacity: 1;
}

.logo_content .logo{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
    margin-left: 4px;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
} 

.sidebar ul{
    margin-top: 30px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style-type: none;
    line-height: 50px;
    border-radius: 12px;
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 20px;
    outline: none;
    border: none;
    background: #93b38b;
    padding-left: 50px;
    font-size: 25px;
    font-weight: 500;
    color: rgb(7, 6, 6); 
}

.sidebar.active ul li input{
    margin-left: 30px;
    width: 200px;
    padding-left: 48px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(7, 6, 6); 
}

.sidebar ul li .fa-medal{
    position: absolute;
    z-index: 99;
    font-size: 25px;
    transition: all 0.5s ease;
}

.sidebar.active ul li .fa-medal{
    padding-left: 53px;
}

.sidebar ul li .fa-medal:hover{
    cursor: pointer;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
    margin-top: 20px;
}

.sidebar ul li a:hover{
    color: #11101d;
    background: #fff;
    cursor: pointer;
}

.sidebar ul li .link-active{
    background: #fff;
    cursor: pointer;
}

.sidebar ul li a .icon-active{
    color: #11101d;
}

/* .sidebar.active ul li .link-active{
    background: #fff;
    cursor: pointer;
}

.sidebar.active ul li a .icon-active{
    color: #11101d;
} */

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
    font-size: 17px;
    font-weight: 600;
}

.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #1e1872;
    transition: all 0.4s ease;
}

.sidebar.active .profile_content .profile{
    background: #1e1872;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details .fa-shopping-cart{
    height: 65px;
    width: 65px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job{
    margin-left: 2px;
    margin-top: -15px;
}

.profile .profile_details .name{
    font-size: 25px;
    font-weight: 600;
}

.profile .profile_details .job{
    font-size: 12px;
    font-weight: 500;
    margin-top: -6px;
}

.profile #log_out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #1d1b31;
    cursor: pointer;
}

.sidebar.active .profile #log_out{
    left: 88%;
}

.sidebar.active .profile #log_out:hover{
    background: rgb(68, 66, 66);
}

.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
} 

.sidebar.active ~ .home_content{
    width: calc(100% - 300px);
    left: 300px;
}
