<div class="products_main">
    <div class="sidebar active">
        <div class="logo_content">
            <div class="logo">
                <img src="./assets/profile.jpg" alt="profile" class="profile_img">
                <div class="logo_name">Selvakumar</div>
            </div>
            <i class="fas fa-bars" id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search...">                
            </li>
            <li>
                <a>
                    <i class="fas fa-th-large fa-lg"></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fas fa-user fa-lg"></i>
                    <span class="links_name">User</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fas fa-shopping-cart fa-lg"></i>
                    <span class="links_name">Orders</span>
                </a>                
            </li>
            <li>
                <a>
                    <i class="fas fa-heart fa-lg"></i>
                    <span class="links_name">Cart</span>
                </a>               
            </li>
            <li>
                <a>
                    <i class="fas fa-gifts fa-lg"></i>
                    <span class="links_name">Gifts & Vouchers</span>
                </a>               
            </li>
            <li>
                <a>
                    <i class="fas fa-hands-helping"></i>
                    <span class="links_name">Help</span>
                </a>               
            </li>
            <li>
                <a>
                    <i class="fas fa-comments fa-lg"></i>
                    <span class="links_name">Feedback</span>
                </a>               
            </li>       
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <i class="fas fa-shopping-cart fa-3x"></i>
                    <div class="name_job">
                        <div class="name">ShopMe</div>
                        <div class="job">Make It Ease</div>
                    </div>
                </div>
                <i class="fas fa-sign-out-alt" id="log_out"></i>
            </div>
        </div>
    </div>
    <div class="products_content">
        <!-- <div class="text">Products Content</div> -->
    </div>
</div>
