<div class="products-main">
    <div class="sidebar" [class.active]="hasvalue">
        <div class="logo_content">
            <div class="logo">
                <img src="{{user.photoUrl || './assets/user.png'}}" alt="profile"
                     class="profile_img" *ngIf="hasvalue">
                <div class="logo_name">{{user.username | titlecase}}</div>
            </div>
            <i class="fas fa-bars" id="btn" (click)="showPanel()"
               tooltip="Menu" placement="bottom">
            </i>
        </div>
        <ul class="nav_list">
            <li>
                <i class="fas fa-medal fa-lg" [tooltip]="userRole" placement="right"
                   [style.color]="user.userRole == 'Buyer' ? 'black' : user.userRole == 'GoldBuyer' ?
                   'rgb(255, 255, 7)' : user.userRole == 'Supplier' ? 'black' : 'rgb(255, 255, 7)' "   
                >
                </i>
                <input type="text" placeholder={{user.userRole}} readonly>
            </li>
            <li>
                <a (click)="showDashboard()" [class.link-active]=" dashboardPanel && !hasvalue">
                    <i class="fas fa-th-large fa-lg" [tooltip]="dashboard"
                       placement="right" [class.icon-active]="dashboardPanel && !hasvalue"
                    >
                    </i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a (click)="showUserPanel()" [class.link-active]="userPanel && !hasvalue">
                    <i class="fas fa-user fa-lg" [tooltip]="paneluser" placement="right"
                       [class.icon-active]="userPanel && !hasvalue"
                    >
                    </i>
                    <span class="links_name">User</span>
                </a>  
            </li>
            <li>
                <a (click)="showOrdersProducts()" [class.link-active]="ordersPanel && uploads && !hasvalue">
                    <i class="fas fa-shopping-cart fa-lg" [tooltip]="orders" placement="right"
                       *ngIf="user.userRole == 'Buyer' || user.userRole == 'GoldBuyer'"
                       [class.icon-active]="ordersPanel && !hasvalue"
                    ></i>
                    <span class="links_name" 
                          *ngIf="user.userRole == 'Buyer' || user.userRole == 'GoldBuyer'">
                        Orders
                    </span>
                    <i class="fas fa-shopping-cart fa-lg" [tooltip]="productsUp" 
                       placement="right" [class.icon-active]="uploads && !hasvalue"
                       *ngIf="user.userRole == 'Supplier' || user.userRole == 'GoldSupplier'"></i>
                    <span class="links_name"
                          *ngIf="user.userRole == 'Supplier' || user.userRole == 'GoldSupplier'">
                        Products Uploaded
                    </span>
                </a>
            </li>
            <li>
                <a (click)="showCartsTransactions()" [class.link-active]="carts&&  transaction && !hasvalue">
                    <i class="fas fa-heart fa-lg" *ngIf="user.userRole == 'Buyer' || user.userRole == 'GoldBuyer'"
                       [tooltip]="cart" placement="right" [class.icon-active]="carts && !hasvalue">
                    </i>
                    <span class="links_name"
                          *ngIf="user.userRole == 'Buyer' || user.userRole == 'GoldBuyer'">
                        Cart
                    </span>
                    <i class="fas fa-hand-holding-usd fa-lg"  
                       *ngIf="user.userRole == 'Supplier' || user.userRole == 'GoldSupplier'"
                       [tooltip]="transactions" placement="right" [class.icon-active]=" transaction && !hasvalue">
                    </i>
                    <span class="links_name"
                          *ngIf="user.userRole == 'Supplier' || user.userRole == 'GoldSupplier'">
                        Transactions
                    </span>        
                </a>
            </li>
            <li>
                <a (click)="showGifts()" [class.link-active]="giftsPanel && !hasvalue">
                    <i class="fas fa-gifts fa-lg" [tooltip]="gifts" placement="right"
                       [class.icon-active]="giftsPanel && !hasvalue"
                    >

                    </i>
                    <span class="links_name">Gifts & Vouchers</span>
                </a>
            </li>
            <li>
                <a (click)="showHelp()" [class.link-active]="helps && !hasvalue">
                    <i class="fas fa-hands-helping" [tooltip]="help" placement="right" 
                       [class.icon-active]="helps && !hasvalue"
                    ></i>
                    <span class="links_name">Help</span>
                </a>
            </li>
            <li>
                <a (click)="showFeedback()" [class.link-active]="feedbacks && !hasvalue">
                    <i class="fas fa-comments fa-lg" [tooltip]="feedback" placement="right"
                       [class.icon-active]="feedbacks && !hasvalue"
                    >   
                    </i>
                    <span class="links_name">Feedback</span>
                </a>
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <i class="fa fa-shopping-cart fa-3x"></i>
                    <div class="name_job">
                        <div class="name">ShopMe</div>
                        <div class="job">Make It Ease</div>
                    </div>
                </div>
                <i class="fa fa-sign-out-alt" id="log_out" (click)="logout()"
                   tooltip="Logout" [placement]="position">
                </i>
            </div>
        </div>
    </div>
    <div class="home_content">
        <!-- <h2>{{user | json}}</h2> -->
        <app-dashboard *ngIf="dashboardPanel"> </app-dashboard>
        <app-user-management *ngIf="userPanel"></app-user-management>
        <div *ngIf="user.userRole == 'Buyer' || user.userRole == 'GoldBuyer'">
            <app-orders *ngIf="ordersPanel"></app-orders>
        </div>
        <div *ngIf="user.userRole == 'Supplier' || user.userRole == 'GoldSupplier'">
            <app-products-uploaded *ngIf="uploads"></app-products-uploaded>
        </div>
        <div *ngIf="user.userRole == 'Buyer' || user.userRole == 'GoldBuyer'">
            <app-cart-items *ngIf="carts"></app-cart-items>
        </div>
        <div *ngIf="user.userRole == 'Supplier' || user.userRole == 'GoldSupplier'">
            <app-transactions *ngIf="transaction"></app-transactions>
        </div>
        <app-gifts *ngIf="giftsPanel"></app-gifts>
        <app-help *ngIf="helps"></app-help>
        <app-feedback *ngIf="feedbacks"></app-feedback>
    </div>
</div>