/* .products_main{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(135deg,  #ebe4e7, #f0f0f0, #f8f1f1, #e0dcdf,  #f8f6f7);

}

.show-dashboard{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.sidebar.active{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-image: linear-gradient(135deg,  #4939f1, #564ad4, #685fd4, #6760af,  #4939f1);
    padding: 6px 14px;
    transition: all 0.5s ease;
    width: 300px;
}

.sidebar.active .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease;
    opacity: 1;
}

.sidebar.active .logo_content .logo .profile_img{
    height: 60px;
    width: 60px;
    border-radius: 40px;
    object-fit: cover;
    margin-top: 20px;
}

.logo_content .logo .logo_name{
    font-size: 25px;
    font-weight: 400;
    margin-left: 4px;
}

.sidebar.active #btn{
    position: absolute;
    color: #fff;
    top: 6px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    left: 90%;
    cursor: pointer;
} 

.sidebar ul{
    margin-top: 30px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style-type: none;
    line-height: 50px;
    border-radius: 12px;
    cursor: pointer;
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #f2f1f5;
    padding-left: 50px;
    font-size: 18px;
    color: rgb(7, 6, 6);
}

.sidebar ul li .fa-search{
    position: absolute;
    z-index: 99;
    color: rgb(8, 8, 8);
    font-size: 22px;
    transition: all 0.5s ease;
}

.sidebar ul li .fa-search:hover{
    background: #fff;
    color: #1d1b31;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    margin-top: 10px;
}

.sidebar ul li a:hover{
    color: #11101d;
    background: #fff;
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
    font-size: 20px;
}

.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar.active .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    transition: all 0.4s ease;
    background: #090368;
}

.sidebar.active .profile .profile_details{
    display: flex;
    align-items: center;
    white-space: nowrap;
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details .name_job{
    margin-left: 10px;
}

.profile .profile_details .name{
    font-size: 20px;
    font-weight: 600;
}

.profile .profile_details .job{
    font-size: 14px;
    font-weight: 200;
}

.sidebar.active .profile #log_out{
    position: absolute;
    bottom: -3px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #07070a;
    left: 88%;
}

.fa-sign-out-alt{
    cursor: pointer;
}
 
.container{ 
   margin-left: 300px;
   margin-top: 150px;
}

.col-md-4{
    background: rgb(66, 65, 65);
    border-radius: 35px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;    
    padding: 20px;
    box-sizing: border-box;
    border: 15px solid transparent;
    background-clip:padding-box; 
    text-align: center;
    color: #fff;
} 
*/


.products-main{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(135deg,  #a59ea1, #c0bbbb, #c5c2c2, #c0b9be,  #c5c2c3);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 300px;
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    margin-top: 10px;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
}

.sidebar.active .logo_content .logo .profile_img{
    height: 60px;
    width: 60px;
    border-radius: 40px;
    object-fit: cover;
    margin-top: 10px;
    opacity: 1;
}

.logo_content .logo{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
    margin-left: 4px;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
} 

.sidebar ul{
    margin-top: 30px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style-type: none;
    line-height: 50px;
    border-radius: 12px;
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .fa-search{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5s ease;
}

.sidebar ul li .fa-search:hover{
    background: #fff;
    color: #1d1b31;
    cursor: pointer;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
    margin-top: 20px;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar ul li a:hover{
    color: #11101d;
    background: #fff;
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
    font-size: 17px;
    font-weight: 600;
}

.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}

.sidebar.active .profile_content .profile{
    background: #1d1b31;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details .fa-shopping-cart{
    height: 65px;
    width: 65px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job{
    margin-left: 2px;
    margin-top: -15px;
}

.profile .profile_details .name{
    font-size: 25px;
    font-weight: 600;
}

.profile .profile_details .job{
    font-size: 12px;
    font-weight: 500;
}

.profile #log_out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #1d1b31;
    cursor: pointer;
}

.sidebar.active .profile #log_out{
    left: 88%;
}

.sidebar.active .profile #log_out{
    background: none;
}

.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
} 

.sidebar.active ~ .home_content{
    width: calc(100% - 300px);
    left: 300px;
}
