.main{
    height: 100vh;
    /* background-image: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%); */
    background-image: linear-gradient(135deg,  #4939f1, #372cb6, #5e57a3, #7d76ce,  #766ce0);
}

.m-image{
    margin-top: 90px;
    margin-left: -50px;
}

.main-image{
    width: 600px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15%;
    border: 3px solid #11101d;
}

.auth-form{
    margin-left: 50px;
    margin-top: 90px;
}

.btn_login{
    margin-left: 70px;
    width: 140px;     
}

.btn-primary{
    color: #fff;
    background-color: rgb(13, 13, 42);
    border-radius: 20px;
}

.btn-secondary{
    cursor: not-allowed;  
    border: 1px solid rgb(13, 13, 42);
    border-radius: 20px;
    color: #fff;
}

.form-group{
    margin-left: 70px;
    width: 450px;
}
.password-input{
    position: relative;
}

.eye-icon{
    position: absolute;
    margin-top: -25px; 
    margin-left: 420px;
    cursor: pointer;
}

.r-eye-icon{
    position: absolute;
    margin-top: -30px;
    margin-left: 260px; 
    cursor: pointer;
}

h1{
    margin-left: 190px;
    font-weight: 650;
    color: #060724;
}

.user-options{
    margin-left: 80px;
}

h5{
    color: #fff;
}

u:hover{
    cursor: pointer;
    font-weight: 650;
}

h2{
    margin-left: 180px;
}

h3{
    color: rgb(11, 11, 56);
    font-weight: 700;
}

.buttonGrp{
    margin-left: 120px;
}

.radio{
    color: #060724;
    background-color: #060724;
}


/*registeration form*/
.title{
    font-size: 30px;
    font-weight: 600;
    position: relative;
}

.formcontainer{
    width: 700px;
    background: #fff;
}

.radiobtn{
    cursor: pointer;
}

form .role-details .role-title{
    font-size: 20px;
    font-weight: 500;
}

.formcontainer form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    width: 50%;
    margin-bottom: 15px;
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 300px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button .btnok{
    height: 100%;
    width: 100%;
    outline-color: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(135deg, #5aa7c5, #a150be);
}

form .button .btnok:hover{
   background: linear-gradient(-135deg, #5aa4c2, #9d4cbb);
   cursor: pointer;

}

form .button .btn{
    height: 100%;
    width: 100%;
    outline-color: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(135deg, #7b9fad, #a47bb3);
}

form .button .btn:hover{
   cursor: not-allowed;

}

.required:after {
    content:" *";
    color: red;
}
