<div class="form-group">
    <input *ngIf="label!='Password'"
        type={{type}}
        class="form-control" 
        [formControl]="ngControl.control"
        placeholder={{label}} 
    />
    <input *ngIf="label=='Password'"
        [type]="label=='Password'&&hide ? 'password' : 'text'"
        class="form-control" 
        [formControl]="ngControl.control"
        placeholder={{label}} 
        id="inputPassword"
    />
    <div *ngIf="label=='Password'">
        <i *ngIf="!hide" class="fas fa-eye fa-lg placeholder" (click)="myFunction()"></i>
        <i *ngIf="hide" class="fas fa-eye-slash fa-lg placeholder" (click)="myFunction()">  
        </i>
    </div>
    <div *ngIf="(ngControl.touched && ngControl.invalid) && (ngControl.control.errors?.required)">
        <span class="error">Please Enter a {{label}}</span>
    </div>
    <!-- <div *ngIf="(ngControl.touched && ngControl.invalid) && (ngControl.control.errors?.minlength)" class="text-success">
        <span class="error">{{label}} must be atleast {{ngControl.control.errors.minlength['requiredLength']}}</span>
    </div> -->
    <div *ngIf="(ngControl.touched && ngControl.invalid) && (ngControl.control.errors?.maxlength)">
        <span class="error">{{label}} length must be atmost {{ngControl.control.errors.maxlength['requiredLength']}}</span>
    </div>
    <div *ngIf="(ngControl.touched && ngControl.invalid) && (ngControl.control.errors?.pattern)">
        <span class="text-success">{{label}} length must be atleast 6</span><br>
        <span class="text-success">{{label}} must have atleast one digit </span><br>
        <span class="text-success">{{label}} must have atleast one uppercase letter</span><br>
        <span class="text-success">{{label}} must have atleast one lowercase letter</span><br>
    </div>
    <div *ngIf="(ngControl.touched && ngControl.invalid) && (ngControl.control.errors?.misMatching)">
        <span class="error"> Password do not match</span>   
    </div>
</div>

<!-- To avoid [formControl] error 
dependending on how comfortable you are with your strictness, you could turn it off for
Angular templates by setting "strictTemplates to false" in your tsconfig.json
-->