<ng-container *ngIf="user.userRole == 'Buyer' || user.userRole == 'GoldBuyer'">
     <div class="categories">
          <div class="heading">
               <h3>Categories To Bag</h3>
          </div>
          <div class="product" [style.margin-left]="sidebarstatus ? '20px' : '100px'">
               <div class="product-row">
                    <div class="image" (click)="gotoProducts('Shoes')" title="explore">
                         <img src="./assets/watches.jpg" alt="watch">
                    </div>
                    <div class="image" (click)="gotoProducts('Shoes')" title="explore">
                         <img src="./assets/shoes1.jpg" alt="watch">
                    </div>
                    <div class="image" (click)="gotoProducts('Shoes')" title="explore">
                         <img src="./assets/dress.jpg" alt="watch">
                    </div>
               </div> 
               <br>
               <div class="product-row">
                    <div class="image" (click)="gotoProducts('Shoes')" title="explore">
                         <img src="./assets/cosmetics.jpg" alt="watch">
                    </div>
                    <div class="image" (click)="gotoProducts('Shoes')" title="explore">
                         <img src="./assets/jewels.png" alt="watch">
                    </div>
                    <div class="image" (click)="gotoProducts('Shoes')" title="explore">
                         <img src="./assets/cheppals.png" alt="watch">
                    </div>
               </div> 
          </div>
     </div>
</ng-container>


<ng-container *ngIf="user.userRole == 'Supplier' || user.userRole == 'GoldSupplier'">
     <div class="categories" >
          <div class="heading">
               <h3>Categories</h3>
          </div>
          <div class="product" [style.margin-left]="sidebarstatus ? '20px' : '100px'">
               <div class="product-row">
                    <div class="image" (click)="gotoProducts('Shoes')" title="explore">
                         <img src="./assets/watches.jpg" alt="watch">
                    </div>
                    <div class="image" (click)="gotoProducts('Shoes')" title="explore">
                         <img src="./assets/shoes1.jpg" alt="watch">
                    </div>
                    <div class="image" (click)="gotoProducts('Shoes')" title="explore">
                         <img src="./assets/dress.jpg" alt="watch">
                    </div>
               </div> 
               <br>
               <div class="product-row" (click)="gotoProducts('Shoes')" title="explore">
                    <div class="image">
                         <img src="./assets/cosmetics.jpg" alt="watch" title="explore">
                    </div>
                    <div class="image" (click)="gotoProducts('Shoes')" title="explore">
                         <img src="./assets/jewels.png" alt="watch">
                    </div>
                    <div class="image" (click)="gotoProducts('Shoes')" title="explore">
                         <img src="./assets/cheppals.png" alt="watch">
                    </div>
               </div> 
          </div>
     </div>
</ng-container>