.product-upload .topbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-image: linear-gradient(135deg,  #4939f1, #3226bd, #4840a7, #372abe,  #4939f1);
}

  /*Appname*/
  .appname{
    margin-left: 25px;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
  }

  .appname h2{
    font-weight: 600;
  }

  .fa-shopping-cart{
      margin-left: -13px;
  }
  
  /*Heading*/
  .heading {
    margin-left: 160px;
    margin-top: 25px;
    color: #fff;
  }

  /*dropdown*/
.dropdown {
  margin-left: 250px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  }
  
  .dropdown:hover .dropdown-content {
  display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    height: 65px;
    right: 0;
    bottom: 0;
    top: 0;
    left: -120px;
    z-index: 3;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: rgb(10, 10, 10);
    padding: 5px;
    text-decoration: none;
    display: block;
    font-weight: 600;
  }
  
  .dropdown-content a:hover {
    cursor: pointer;
    color: rgb(253, 253, 253);
    background-color: rgb(133, 129, 129);
    border: 1px solid rgb(61, 68, 126);
  }

  #img
  {
    height: 65px;
    width: 65px;
    border: 2px solid #fff;
    border-radius: 55px;
    object-fit: cover;
    margin-right: 25px;
  } 

  /*Product Details*/
  .product-upload .description-image{
    display: flex; 
   }

  .product-description{
    width: 700px;
    background: #fff;
    padding: 25px 30px;
    border-radius: 8px;
}

.product-description .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-top: -20px;
}

.product-description form .user-details{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
}

form .user-details .input-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}


.description-image .product-image{
    margin-top: 70px;
    margin-left: 90px;
}

.product-image .image-drop{
    margin-left: 150px;
    margin-top: 20px;
}

.nv-file-over
{
    border: dotted 3px red;
}


.product-upload .upload-details{
    display: flex;
}

.product-upload .file-details{
    width: 700px;
    margin-left: 25px;
    margin-top: -10px;
}

.product-upload .upload{
    margin-top: 70px;
    margin-left: 300px;
}

input[type="file"]
{
  display: none;
}

.cursor-allowed{
  border: 1px solid rgb(24, 21, 21);
  border-radius: 5px;
  padding: 4px;
  background: rgb(41, 44, 175);
  margin: 0;
  cursor: pointer;
  color: #fff;
}

.cursor-notallowed{
  border: 1px solid rgb(24, 21, 21);
  border-radius: 5px;
  padding: 4px;
  background: rgb(174, 174, 182);
  margin: 0;
  cursor: not-allowed;

}

.required:after {
  content:" *";
  color: red;
}


 





 
 

  
 