<div class="reset-page">
    <div class="heading">
        <h2 class="appname">
            ShopMe
        </h2>
        <i class="fas fa-shopping-cart main-cart"></i>
    </div>
    <div class="container formcontainer">
        <form [formGroup]="passwordresetForm"
              (ngSubmit)="passwordresetForm.valid && passwordreset()" autocomplete="off">
            <h3>Reset Password</h3><br><br>
            <div class="user-details">
                <div class="input-box">
                    <h5 class="details required">Password</h5>
                    <input type="password" 
                           class="form-control" 
                           placeholder="Enter your new password"
                           formControlName="password"
                           autocomplete="off"
                    >
                    <div *ngIf="passwordresetForm.get('password').touched && 
                                passwordresetForm.get('password').invalid">
                        <small class="text-danger" *ngIf="passwordresetForm.get('password').errors['required']">
                            *Password is required
                        </small>
                    </div>
                    <div *ngIf="passwordresetForm.get('password').touched && passwordresetForm.get('password').invalid &&
                                passwordresetForm.get('password').errors.maxlength">
                        <small class="text-danger">*Password length must be atmost 12</small>
                    </div>
                    <div *ngIf="passwordresetForm.get('password').touched && passwordresetForm.get('password').invalid && 
                                passwordresetForm.get('password').errors.pattern">
                        <small class="text-success">*Password length must be atleast 6</small><br>
                        <small class="text-success">*Password must have atleast one digit </small><br>
                        <small class="text-success">*Password must have atleast one uppercase letter</small><br>
                        <small class="text-success">*Password must have atleast one lowercase letter</small><br>
                    </div>
                </div>
                <div class="input-box">
                    <h5 class="details required">Confirm Password</h5>
                    <input type="password" 
                           class="form-control" 
                           placeholder="Confirm your password"
                           formControlName="confirmPassword"
                           autocomplete="off"
                    > 
                    <div *ngIf="passwordresetForm.get('confirmPassword').touched && 
                                passwordresetForm.get('confirmPassword').invalid">
                        <small class="text-danger" *ngIf="passwordresetForm.get('confirmPassword').errors['required']">
                            *ConfirmPassword is required
                        </small>
                    </div>
                    <div *ngIf="passwordresetForm.get('confirmPassword').touched && 
                                passwordresetForm.get('confirmPassword').invalid && 
                                passwordresetForm.get('confirmPassword').errors.misMatching">
                        <small class="text-danger"> *Password do not match</small>
                    </div>
                </div>
            </div><br>
            <div class="button">
                <button [class.btndisable]="passwordresetForm.invalid"
                        [class.btnok]="passwordresetForm.valid"
                        [disabled]="passwordresetForm.invalid" type="submit">
                    Submit
                </button>
            </div>
            <div class="gohome mt-5" *ngIf="showHome" style="margin-left: 150px;">
                <a routerLink="/">
                    <h4 class="ml-5"><u>Go To HomePage</u></h4>
                </a>
            </div>
        </form>
    </div>
</div>

