
.reset-page{
    background-image: linear-gradient(135deg,  #aaa5a7, #cfccc7, #a39c9c, #c7c2c5,  #9c969a);
    height: 100vh;
}

.heading{
    display: flex;
}

.appname{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 600;    
    color: black
}

.main-cart{
    margin-left: -1px;
    margin-top: 35px;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

/*resetpassword form*/
.formcontainer form h3{
    font-size: 30px;
    font-weight: 600;
    margin-left: 160px;
}

.formcontainer{
    width: 600px;
    background: #fff;
    height: 530px;
    border-radius: 40px;
    z-index: 999;
} 

.formcontainer form .user-details{
    margin-left: 80px;
} 

form .user-details .input-box{
    width: 100%;
    margin-bottom: 45px;
} 

.user-details .input-box .details{
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 55px;
    width: 400px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 5px;
    transition: all 0.3s ease;
}

form .button .btnok{
    margin-left: 160px;
    width: 220px;
    height: 50px;
    font-size: 19px;
    font-weight: 700;
    border-radius: 20px; 
    letter-spacing: 1px;
    color: #fff;
    border: none;
    background: linear-gradient(135deg, #5aa7c5, #a150be);
}

form .button .btnok:hover{
   background: linear-gradient(-135deg, #5aa4c2, #9d4cbb);
   cursor: pointer;

}

form .button .btndisable{
    margin-left: 160px;
    width: 220px;
    height: 50px;
    font-size: 19px;
    font-weight: 700;
    border-radius: 20px; 
    letter-spacing: 1px;
    color: #fff;
    border: none;
    outline-color: none;
    background: linear-gradient(135deg, #7b9fad, #a47bb3);
}

form .button .btndisable:hover{
   cursor: not-allowed;

}

.required:after {
    content:" *";
    color: red;
}
