.product-display{
  height: 100vh;
  background-color: #fff;
  overflow: auto;
}
.product-display nav{
  z-index: 3;
  position: sticky;
  top: 0;
}

.product-display .topbar{
display: flex;
background-image: linear-gradient(135deg,  #4939f1, #3226bd, #4840a7, #372abe,  #4939f1);
box-sizing: border-box;
padding: 15px;
}

/*app name*/
.appname{
  margin-left: 1px;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
}

.appname h2{
  font-weight: 700;
}

.fa-shopping-cart{
  margin-left: -13px;
}

/*Filter*/
.filter{
  margin-top: 20px;
  margin-left: 160px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid black;
}

/*SearchBar*/
.search {
  width: 40%;
  margin-top: 20px;
  margin-left: 100px;
}

/*dropdown*/
.dropdown {
  margin-left: 250px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 120px;
  height: 65px;
  right: 0;
  bottom: 0;
  top: 0;
  left: -120px;
  z-index: 3;
  border-radius: 5px;
}

.dropdown-content a {
  color: rgb(10, 10, 10);
  padding: 5px;
  text-decoration: none;
  display: block;
  font-weight: 600;
}

.dropdown-content a:hover {
  cursor: pointer;
  color: rgb(253, 253, 253);
  background-color: rgb(133, 129, 129);
  border: 1px solid rgb(61, 68, 126);
}

#img
{
  height: 65px;
  width: 65px;
  border: 2px solid #fff;
  border-radius: 55px;
  object-fit: cover;
  margin-right: 25px;
} 

.product-card{
  position: relative;
  border-radius: 25px;
  width: 250px;
  height: 390px;
  padding: 5px 5px 5px 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1;
  background:#fff;
}

.product-card .logo-cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card .logo-cart img{
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.product-card .logo-cart i{
  font-size: 27px;
  color: #3a3838;
  cursor: pointer;
  transition: color 0.3s ease;
}

.product-card .main-images{
  position: relative;
  height: 180px;
}

.product-card .main-images img{
  position: absolute;
  height: 200px;
  width: 200px;
  object-fit: cover;
  transform: rotate(18deg);
  left: 21px;
  top: -50px;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.product-card .product-details{
  margin-top: -70px;
}

.product-card .product-details .product_name{
  font-size: 24px;
  font-weight: 500;
  color: #161616;
}

.product-card .product-details p{
  font-size: 12px;
  font-weight: 400;
  color: #333;
  text-align: justify;
}

.product-card .product-details .stars i{
  margin: 0 -1px;
  color: #333;
}

.product-card .discount-price .discount-option{
  display: flex;
  align-items: center;
}

.discount-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.discount-price .discount-option .discount{
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-right: 8px;
}

.discount-price .discount-option .discount .discount-rate{
  font-size: 20px;
  font-weight: 600;
}


.discount-price .price{
  display: flex;
  flex-direction: column;
}

.discount-price .price .price_num{
  font-size: 25px;
  font-weight: 600;
  color: #707070;
}

.discount-price .price .price_letter{
  font-size: 10px;
  font-weight: 600;
  margin-top: -4px;
  color: #707070;
}

.product-card .button{
  margin-top: 10px;
}

.product-card .button button{
  margin-left: 20px;
  padding: 5px;
  border-radius: 50px;
  width: 200px;
  height: 35px;
  box-sizing: border-box;
  background-color: #563ea3;
  transition: all 0.4s ease;
  color: #fff;
  border: none;
}

.product-card .button button:hover{
  background-color: rgb(22, 22, 88);
}

/*filter*/
select{
  cursor: pointer;
}

.col-md-3{
  box-sizing: border-box;
  border: 15px solid transparent;
  background-clip:padding-box; 
} 

.not-found{
  margin-left: 560px;
  margin-top: 130px;
}

.not-found img{
  width: 220px;
  height: 240px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}