<div class="product-display" *ngIf="products">
    <div class="topbar">
        <div tooltip="Filter" placement="left">
            <button class="btn filter" (click)="openFilterOptions(staticModal)">
                <i class="fas fa-filter"></i>
            </button>
        </div>
        <div class="search">
            <div class="input-group">
                <input type="text" class="form-control" 
                       placeholder="Search Your Favourite Product Brand ....">
                <div class="input-group-append">
                    <button class="btn btn-secondary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <img id="img" src="{{user.photoUrl || './assets/user.png'}}" alt="user">
            <div class="dropdown-content">
                <a routerLink='/products'>Dashboard</a>
                <a (click)="logout()">LogOut</a>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row mt-1">
            <div *ngFor="let product of products" class="col-md-3">
                <div class="product-card">
                    <div class="logo-cart">
                        <img src="./assets/addidaslogo.jpg" alt="prod-logo" 
                             *ngIf="product.productBrand == 'Addidas'">
                        <img src="./assets/walkarologo.png" alt="prod-logo" 
                             *ngIf="product.productBrand == 'Walkaro'">
                        <img src="./assets/pumalogo.png" alt="prod-logo" 
                             *ngIf="product.productBrand == 'Puma'">
                        <img src="./assets/batalogo.png" alt="prod-logo" 
                             *ngIf="product.productBrand == 'Bata'">

                        <i class="fas fa-shopping-cart" tooltip="Buy" 
                           placement="left" (click)="buyProduct(product)"></i>
                    </div>
                    <div class="main-images">
                        <img src="{{product.photoUrl}}" alt="{{product.productName}}">
                    </div>
                    <div class="product-details">
                        <div class="product_name">{{product.productName}}</div>
                        <P>
                            {{product.productDescription}}
                        </P>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                    <div class="discount-price">
                        <div class="price">
                            <span class="price_num">Rs. {{product.amountRs}}</span>
                            <span class="price_letter">
                                <h5><s style="color: rgb(226, 55, 55);">Rs. {{product.originalPrice}}</s></h5>
                            </span>
                        </div>
                        <div class="discount-option">
                            <span class="discount"><strong>Discount:</strong></span>
                            <span class="discount-rate">                                    
                                {{product.discount}}%
                            </span>
                        </div> 
                    </div>
                    <div class="button">
                        <div class="button-layer">
                        </div>
                        <button (click)="addtoCart(product)">
                            Add To Cart
                        </button>
                    </div>
                </div>            
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-12 d-flex justify-content-center" 
                 *ngIf="pagination && products.length > 0">
                <pagination 
                        [boundaryLinks]="true" 
                        [totalItems]="pagination.totalItems"
                        [itemsPerPage]="pagination.itemsPerPage"
                        [(ngModel)]="pagination.currentPage"
                        (pageChanged)="pageChanged($event)"
                        previousText="&lsaquo;" 
                        nextText="&rsaquo;" 
                        firstText="&laquo;" 
                        lastText="&raquo;">
                </pagination>
            </div>
        </div>
    </div> 
    <div  *ngIf="!products || products.length == 0" class="not-found">
        <h3>Items Not Found</h3>
    </div>
</div>


<!--Modal for Filters-->
<ng-template #staticModal>       
    <div class="modal-content" >
        <div class="modal-header">
            <h2 class="modal-title">Filters</h2>
            <button type="button" class="btn-close close pull-right"
                    (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">  
            <div class="container-fluid">
                <form #form="ngForm" class="form-inline" id="filterForm" 
                (ngSubmit)= "getProducts()" 
                      autocomplete="off">
                    <div class="form-group">
                        <label><strong>Minimum Price :</strong></label>
                        <input
                            type = "text" 
                            class="form-control ml-1"
                            style="width: 80px;"  
                            placeholder="Rs."
                            name="minPrice"
                            [(ngModel)] = "minPrice"
                        >
                    </div>
                
                    <div class="form-group ml-3">
                        <label><strong>Maximum Price :</strong></label>
                        <input
                            type = "text" 
                            class="form-control ml-1"
                            style="width: 80px;"     
                            placeholder="Rs."  
                            name="maxPrice" 
                            [(ngModel)] = "maxPrice"                
                        >
                    </div><br><br><br><br>
                
                    <div class="form-group">
                        <label><strong>Gender :</strong></label>&nbsp;
                        <select name="gender" class="form-control" [(ngModel)]="gender">
                            <option disabled>Select Gender</option>
                            <option *ngFor="let gender of genderList"
                                    [value]="gender.value">
                                {{gender.display}}
                            </option>
                        </select>
                    </div>
                </form>
            </div> 
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" form="filterForm"
                    (click)="modalRef?.hide()">
                Apply
            </button>
            <button class="btn btn-info" type="submit"
                    (click)="reset()">
                Reset
            </button>
        </div>
    </div> 
</ng-template>