 .product-display{
    height: 100vh;
    /* background-image: linear-gradient( #43CBFF 10%, #9708CC 100%); */
    background-image: linear-gradient(135deg,  #8a8788, #dfd8cf, #a39c9c, #c7c2c5,  #9c969a);
    overflow: hidden;
  }
  
.product-display .topbar{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

/*Filter*/
.filter{
  margin-left: 5px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid black;
}

/*SearchBar*/
.search {
  width: 50%;
}

/*dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 120px;
  height: 70px;
  right: 0;
  bottom: 0;
  top: 0;
  left: -120px;
  z-index: 3;
  border-radius: 10px;
}

.dropdown-content a {
  color: rgb(10, 10, 10);
  padding: 5px 10px 10px 10px;
  text-decoration: none;
  display: block;
  font-weight: 600;
}

.dropdown-content a:hover {
  cursor: pointer;
  color: rgb(253, 253, 253);
  background-color: rgb(105, 99, 99);
}

#img
{
    height: 75px;
    width: 80px;
    border: 2px solid #fff;
    border-radius: 55px;
    object-fit: cover;
} 
 
  .product-card{
    position: relative;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 1;
    background:#fff;
  }
  
  .product-card .logo-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .product-card .logo-cart img{
    height: 60px;
    width: 60px;
    object-fit: cover;
  }
  
  .product-card .logo-cart i{
    font-size: 27px;
    color: #3a3838;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .product-card .main-images{
    position: relative;
    height: 210px;
  }
  
  .product-card .main-images img{
    position: absolute;
    height: 300px;
    width: 300px;
    object-fit: cover;
    transform: rotate(18deg);
    left: 12px;
    top: -40px;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .product-card .product-details .product_name{
    font-size: 24px;
    font-weight: 500;
    color: #161616;
  }
  
  .product-card .product-details p{
    font-size: 12px;
    font-weight: 400;
    color: #333;
    text-align: justify;
  }
  
  .product-card .product-details .stars i{
    margin: 0 -1px;
    color: #333;
  }
  
  .product-card .discount-price .discount-option{
    display: flex;
    align-items: center;
  }
  
  .discount-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }
  
  .discount-price .discount-option .discount{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-right: 8px;
  }

  .discount-price .discount-option .discount .discount-rate{
    font-size: 20px;
    font-weight: 600;
  }
  
  
  .discount-price .price{
    display: flex;
    flex-direction: column;
  }
  
  .discount-price .price .price_num{
    font-size: 25px;
    font-weight: 600;
    color: #707070;
  }
  
  .discount-price .price .price_letter{
    font-size: 10px;
    font-weight: 600;
    margin-top: -4px;
    color: #707070;
  }
  
  .product-card .button{
    position: relative;
    height: 50px;
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
    margin-top: 30px;
  }
  
  .product-card .button .button-layer{
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    background-image: linear-gradient(135deg,  #9708CC, #43CBFF, #9708CC, #43CBFF);
    transition: all 0.4s ease;
    border-radius: 25px;
  }
  
  .product-card .button:hover .button-layer{
    left: 0;
  }
  
  .product-card .button button{
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
  }

  /*filter*/
  select{
    cursor: pointer;
  }
 